<h1>Administration Dashboard</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Product Count </th>
      <th scope="col"> Category Count </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @product_count %>
      </td>
      <td>
        <%= @category_count %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
      <%= link_to 'View Products List', [:admin, :products], class: 'btn btn-info' %>
      </td>
      <td>
      <%= link_to 'View Categories List', [:admin, :categories], class: 'btn btn-info' %>
      </td>
    </tr>

  </tfoot>
</table>
<br>
