<h1>Administration Dashboard</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Product Count </th>
      <th scope="col"> Category Count </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @product_count %>
      </td>
      <td>
        <%= @category_count %>
      </td>
    </tr>
  </tbody>
</table>
<a href="/admin/products">View Products List </a>
<br>
